/* src/Home.module.css */

.main {
  padding: 20px;
  margin: 0 auto;
  background-color: #1a1a1a; /* Dark background for the main container */
  color: white;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.poolGroupsContainer {
  display: flex;
  flex-wrap: wrap;
}

.poolGroup {
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.poolGroup > h2{
  text-align: center;
}

.buildingsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

/* Styles for individual buildings */
.buildingsContainer > div {
  width: 80px; /* Adjust based on your PoolBuilding component's width */
  height: 160px; /* Adjust based on your PoolBuilding component's height */
}

@media (max-width: 768px) {
  .main {
    padding: 10px;
  }

  .title {
    font-size: 1.5rem;
  }

  .poolGroupsContainer {
    grid-template-columns: 1fr;
  }
}

.detail_screen{
  display: flex;
  justify-content: center;
}